.env
vendor
node_modules
.env.*.bk
dock-helpers.sh
dock.sh
docker-compose.yml
docker-jenkins-start.sh
lighthouse.sh
organizeEnv.php
stacks.sh
update-docker-assets-file.sh
getUid.php
sketches/images
outputs
video
displacement maps
distortions/photocopy/dJ82QkWc9q_2750x4250_100_200_20_20_0.psd
distortions/photocopy/eoj8cw0L93_2500x2886.982713462545_25_500_20_20_0.psd
distortions/photocopy/eoj8cw0L93_2500x2886.982713462545_25_500_20_20_1.psd
sketches/sketch_220314/tracing
Camellia-reticulata-var.-flore-pleno-1854-1896.psd
Verbena–Lady-Lacon--Blue-Beard--Wonderful-1852-1861.psd
Camellia-Valtevaredo-1852-1861.psd
Dahlia-Sir-J.-Franklin-1852-1861.psd
Chrysanthemum–Golden-Queen--Prince-Albert-1852-1861.psd
cube.ai
Square-Poster-Frame-Mockup-set.zip
Bemidji usgs map.psd
minnesota and mississippi river usgs map.psd
Grand Rapids usgs map.psd
layered cmyk blocks
teeshirt display redbubble.psd
fxhash/220516/dist
fxhash/220524/dist
fxhash/220524/dev
fxhash/220601/dev
fxhash/220603/dev
fxhash/220603/dist
Archive.zip
fxhash/220619 - mounds 2/images
fxhash/220630 - mounds 2/images
fxhash/220701 - Gray Copper Swallow/dev
fxhash/220701 - Gray Copper Swallow/dist
fxhash/220708 - Aqua Aluminium Mimosa/images/squiggles
fxhash/220705 - Purple Gold Hills/dist
fxhash/220705 - Purple Gold Hills/dev
fxhash/220705 - Purple Gold Hills/public/images/squiggles
fxhash/220713 - pills/dev
fxhash/220713 - pills/dist
fxhash/220713 - Perspective Spaces/dev
fxhash/220713 - Perspective Spaces/dist
fxhash/220714 - Fuschia Rubious Selenium/dev
fxhash/220714 - Fuschia Rubious Selenium/dist
fxhash/220717 - Olive Aluminium Xenon/dev
fxhash/220717 - Olive Aluminium Xenon/dist
