.env
vendor
node_modules
.env.*.bk
dock-helpers.sh
dock.sh
docker-compose.yml
docker-jenkins-start.sh
lighthouse.sh
organizeEnv.php
stacks.sh
update-docker-assets-file.sh
getUid.php
sketches/images
outputs
video
displacement maps
distortions/photocopy/dJ82QkWc9q_2750x4250_100_200_20_20_0.psd
distortions/photocopy/eoj8cw0L93_2500x2886.982713462545_25_500_20_20_0.psd
distortions/photocopy/eoj8cw0L93_2500x2886.982713462545_25_500_20_20_1.psd
sketches/sketch_220314/tracing
Camellia-reticulata-var.-flore-pleno-1854-1896.psd
Verbena–Lady-Lacon--Blue-Beard--Wonderful-1852-1861.psd
Camellia-Valtevaredo-1852-1861.psd
Dahlia-Sir-J.-Franklin-1852-1861.psd
Chrysanthemum–Golden-Queen--Prince-Albert-1852-1861.psd
cube.ai
Square-Poster-Frame-Mockup-set.zip
Bemidji usgs map.psd
minnesota and mississippi river usgs map.psd
Grand Rapids usgs map.psd
layered cmyk blocks
teeshirt display redbubble.psd
fxhash/220516/dist
