.env
vendor
node_modules
.env.*.bk
dock-helpers.sh
dock.sh
docker-compose.yml
docker-jenkins-start.sh
lighthouse.sh
organizeEnv.php
stacks.sh
update-docker-assets-file.sh
getUid.php
sketches/images
outputs
video
displacement maps
distortions/photocopy/dJ82QkWc9q_2750x4250_100_200_20_20_0.psd
distortions/photocopy/eoj8cw0L93_2500x2886.982713462545_25_500_20_20_0.psd
distortions/photocopy/eoj8cw0L93_2500x2886.982713462545_25_500_20_20_1.psd
sketches/sketch_220314/tracing
Camellia-reticulata-var.-flore-pleno-1854-1896.psd
